.contactSection {
    margin-top: 100px;
}

.details {
    margin-top: 100px;
    margin-bottom: 20px;
}

.partnerInfo {
    color: grey;
    text-align: justify;
}

.contactForm {
    margin-top: 100px;
    margin-bottom: 200px;
}

.centerFigure {
    text-align: center !important;
}

.img-circle {
    border-radius: 50% !important;
    height: 100px !important;
    width: 100px !important;
}

.responsive {
    width: 100%;
    height: auto;
  }

.lookingForHeader {
    text-align: center;
    padding: 5%;
}

.lookingFor {
    border: 1px solid black;
    padding-bottom: 5%;
}

.head {
    width: 200px !important;
    text-align: center;
    display: block;
    margin: auto;
    border-bottom: 1px solid black;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphs {
    padding: 10% !important;
}

.paragraphs li {
    margin-top: 15px;
}

@media screen and (max-width:768px) {
    .vertical-align {
    }
}
/* 
#map {
    height: 300px;
} */