<div class="container-fluid" style="padding: 0px !important; ">
    <app-nav></app-nav>
    <div class="container">
      <section class="contactSection">
        <div class="head">
          <h5>Contact Us</h5>
        </div>
      </section>
      <section class="contactForm">
        <div class="row">
          <div class="col-12">
            <p style="text-align: center"><i>"Contact Us regarding any query, we usually revert within 7 working days."</i></p>
            <!-- <p style="text-align: center" class="partnerInfo">Apply Now and get a call back within 24 hours</p> -->
          </div>
        </div>
          <form style="width: 80%; margin: auto">
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="name" style="color: grey">Name:</label>
                      <input type="text" minlength="2" required #Name="ngModel" class="form-control" name="name" [(ngModel)]="Contact.name" id="name">
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="email" style="color: grey">Email:</label>
                      <input type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required #Email="ngModel" class="form-control" name="email" [(ngModel)]="Contact.email" id="email">
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="phone" style="color: grey">Phone:</label>
                        <input type="text" pattern="^(?:(?:\+|0{0,2})91(\s*[\
                        -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$" required #Phone="ngModel" class="form-control" name="phone" [(ngModel)]="Contact.phone" id="phone">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pincode" style="color: grey">Pin Code:</label>
                        <input type="text" minlength="5" required #PinCode="ngModel" class="form-control" name="pin" [(ngModel)]="Contact.pinCode" id="pincode">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="details" style="color: grey">Details</label>
                        <textarea class="form-control" required #Message="ngModel" name="messge" [(ngModel)]="Contact.message" id="details" rows="5"></textarea>
                      </div>
                </div>
              </div>
              <div class="row" style="text-align: center">
                <div class="col-12">
                    <button (click)="sendMail()" [disabled]="Name.errors || Email.errors || Phone.errors || PinCode.errors || Message.errors" type="submit" class="btn btn-dark customBtn">Submit</button>
                </div>
              </div>
          </form>
      </section>
      <section class="locationInfo">
        <div class="row">
          <div class="col-sm-4">
            <h3>Head Office:</h3>
              <p class="partnerInfo">
                  415, 4th Floor, Kailash Plaza,<br>
                   Plot No. 355 Vallabh Baug Lane,<br>
                    Ghatkopar (East) Mumbai <br>
                    Mumbai City MH 400077 IN
                </p>
          </div>
          <div class="col-sm-8">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </section>
    </div>
    <section class="contact">
        <div class="parallax-last"></div>
        <div class="clientCarousel">
            <div class="row" style="width: 100%">
              <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                      <div class="MultiCarousel-inner">
                          <div class="item" *ngFor="let item of newsData">
                              <div class="pad15">
                                  <!-- <p class="lead">{{ item.title }}</p> -->
                                  <a [href]="item.title" target="_blank">
                                <img width="120px" [src]="item.src" alt="" srcset="">
                                </a>
                              </div>
                          </div>
                      </div>
                      <button class="btn leftLst"><</button>
                      <button class="btn rightLst">></button>
                  </div>
            </div>
          </div>
        <div class="center">
            <span style="color: whitesmoke; font-weight: 700">
              SIGN UP BELOW TO GET NEWS & DEALS
            </span><br>
            <span style="color: whitesmoke">
                Subscribe to our Mailing List.
            </span>
            <form #form action="https://goldenoak.us3.list-manage.com/subscribe/post?u=f7620a7c0cc396dc9cdb69779&amp;id=d0ab397ff3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="single">
                <div class="input-group">
                       <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                       <span class="input-group-btn">
                       <input type="hidden" name="b_f7620a7c0cc396dc9cdb69779_d0ab397ff3" tabindex="-1" value="">
                       <button (click)="form.submit()" type="submit" class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                       </span>
                        </div>
                    </div>
                  </form>
        </div>
    </section>
  </div>
  <footer>
    <div class="media">
    <a href="https://www.facebook.com/PanAromas/" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/panaromascandle" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
      <a href="https://www.instagram.com/panaromas_/?hl=en" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
      </span>
      </a>
  </div>
    <div class="text">
        All Rights Reserved 2019 | Golden Oak Implex LLP
    </div>
  </footer>
  <ng2-toasty></ng2-toasty>
  <ngx-loading [show]="loading"></ngx-loading>