<div class="container-fluid" style="padding: 0px !important; ">
    <app-nav></app-nav>
    <section class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img src="../assets/banner-6.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="productTable" *ngIf="dataSource.length == 0">
      No Products Found
    </section> -->
    <section class="productTable">
        <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Description :">
               <div class="title">{{ row.productName }}</div> 
                <div class="sub-title">Pkg {{ row.package }} piece in master carton</div>
                <div class="extra-description">
                  {{ row.specification1 }}<br>
                  {{ row.specification2 }} <br>
                  {{ row.specification3 }}
                </div>
              </mat-cell>
            </ng-container>
        
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;" data-label="Product :">
                <img src="{{ ImageUrl }}/{{ fragranceImage[i] }}" style="width: 200px; height:200px" alt="">
                <div class="productCode"> Item Code: {{ row.itemCode }} </div>
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fragrance">
                <mat-header-cell *matHeaderCellDef> Fragrance </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index;" data-label="Fragrance :">
                  <div class="fragrance-list">
                    <ul style="margin: 0; padding: 0"  *ngFor="let item of fragrances[i]; let j = index;">
                        <li (click)="selectFragrance(i,j)" style="cursor: pointer" [ngClass]="
                        {'highlight': selectedIndex[i] === j}" id="{{i}}{{j}}" (click)="selectFragrance(i,j)">
                          {{ item.fragranceName }}
                        </li>
                      </ul>
                  </div>
                  <button class="btn btn-dark" type="button" (click)="openDialog(row.productId)" >Check Full Description</button>
                </mat-cell>
              </ng-container>
        
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
          <mat-paginator [length]="totalRecords"
              [pageSize]="PageSize" (page)="handlePage($event)">
          </mat-paginator>
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
    </section>
    <section class="contact">
        <div class="parallax-last"></div>
        <div class="clientCarousel">
            <div class="row" style="width: 100%">
              <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                      <div class="MultiCarousel-inner">
                          <div class="item" *ngFor="let item of newsData">
                              <div class="pad15">
                                  <!-- <p class="lead">{{ item.title }}</p> -->
                                  <a [href]="item.title" target="_blank">
                                <img width="120px" [src]="item.src" alt="" srcset="">
                                </a>
                              </div>
                          </div>
                      </div>
                      <button class="btn leftLst"><</button>
                      <button class="btn rightLst">></button>
                  </div>
            </div>
          </div>
        <div class="center">
            <span style="color: whitesmoke; font-weight: 700">
              SIGN UP BELOW TO GET NEWS & DEALS
            </span><br>
            <span style="color: whitesmoke">
                Subscribe to our Mailing List.
            </span>
            <form #form action="https://goldenoak.us3.list-manage.com/subscribe/post?u=f7620a7c0cc396dc9cdb69779&amp;id=d0ab397ff3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="single">
                <div class="input-group">
                       <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                       <span class="input-group-btn">
                       <input type="hidden" name="b_f7620a7c0cc396dc9cdb69779_d0ab397ff3" tabindex="-1" value="">
                       <button (click)="form.submit()" type="submit" class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                       </span>
                        </div>
                    </div>
                  </form>
        </div>
    </section>
  </div>
  <footer>
    <div class="media">
    <a href="https://www.facebook.com/PanAromas/" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/panaromascandle" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
      <a href="https://www.instagram.com/panaromas_/?hl=en" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
      </span>
      </a>
  </div>
    <div class="text">
        All Rights Reserved 2019 | Golden Oak Implex LLP
    </div>
  </footer>