.sub-header img {
    width: 90%;
    display:block;
    margin:auto;
}
.sub-header {
    margin-top: 100px;
}

.productTable {
  width: 80%;
  margin: auto;
  margin-top:100px !important;
  margin-bottom:200px !important;
}

.mat-paginator-page-size {
  display: none !important;
}


.mat-cell:first-child {
  display:block !important;
  text-align:left !important;
}
.mat-cell:last-child {
  display:block !important;
  text-align:right !important;
}
.mat-cell {
  padding-top: 15px !important;
  height: 350px !important;
  display:block !important;
  text-align:center !important;
}

.mat-header-cell {
  font-weight: bold !important;
  text-align: center !important;
  color: black !important;
  display: block;
  font-size: 15px !important;
}

.mat-header-cell:first-child {
  font-weight: bold !important;
  text-align: left !important;
  color: black !important;
  display: block;
  font-size: 15px !important;
}
.mat-header-cell:last-child {
  font-weight: bold !important;
  text-align: right !important;
  color: black !important;
  display: block;
  font-size: 15px !important;
}

.productTable .title {
  font-size: 18px;
  font-weight: 600;
}

.productTable .sub-title {
  font-size: 17px;
  font-weight: 500;
}

.productCode {
  font-weight: 600 !important;
  font-size: 18px;
  margin-top: 10px;
}

.extra-description {
  margin-top: 20px;
}

.fragrance-list {
  list-style: square inside url("../../../assets/list.png");
  text-align: start;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

.btn-dark {
  margin-top: 50px;
  border-radius: 0px !important;
}
.highlight{ 
  text-decoration: underline; 
}





@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }
  .btn-dark {
    display: block !important;
    margin: auto !important;
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
 
  .mat-table .mat-row {
    border-bottom: 6px double #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right !important;
    font-weight: normal;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    text-decoration: underline !important;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .mat-table .mat-cell {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

    .mat-table .mat-cell:first-child {
    margin-top: 4%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}