<div class="container-fluid" style="padding: 0px !important; ">
  <app-nav></app-nav>
  <div class="container">
    <section class="careerSection">
      <div class="head">
        <h5>Careers</h5>
      </div>
      <div class="row" style="margin-top: 30px; background-color: rgb(235, 235, 235)">
        <div class="col-md-5">
          <img src="../assets/career1.jpg" style="width: 100%; height:auto" alt="">
        </div>
        <div class="col-md-7 vertical-align">
          <h2>Assistant Sales Manager</h2><br>
          <h6>Build and Manage Client Relations</h6>
        </div>
      </div>
      <div class="container paragraphs">
        <h4>Need to have</h4>
        <ul class="list-unstyled">
          <li>1-2 years of experience in new business development or sales in the any Industry</li>
          <li>Ability to introduce products to retailers, distributers and channel partners</li>
          <li>Ability to identify project opportunities and build account relationships.</li>
          <li>Good Communication Skills, Meeting Sales Goals, Creativity, Sales Planning, Motivation for Sales, Team handling.</li>
        </ul>
        <br>
        <h4>Good to have</h4>
        <ul class="list-unstyled">
          <li>Experience in fragrance/ candle or gifting brand as business development or sales department.</li>
          <li>Experience in building brand channels in a particular area or region.</li>
        </ul>
      </div>
  </section>
  <!-- <section class="lookingFor">
      <div class="container">
        <div class="row">
          <div class="col-12 lookingForHeader">
            <h3 style="margin-bottom: 30px; margin-top:30px">We Are Looking For</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 centerFigure">
            <figure class="figure">
              <img src="../assets/bulb.jpg" class="figure-img img-fluid img-circle" alt="">
              <figcaption class="figure-caption text-center">Intelligent and Articulate. Independent Thinker. Brings fresh perspectives</figcaption>
            </figure>
          </div>
          <div class="col-lg-3 centerFigure">
            <figure class="figure">
              <img src="../assets/bulb.jpg" class="figure-img img-fluid img-circle" alt="">
              <figcaption class="figure-caption text-center">Intelligent and Articulate. Independent Thinker. Brings fresh perspectives</figcaption>
            </figure>
          </div>
          <div class="col-lg-3 centerFigure">
            <figure class="figure">
              <img src="../assets/bulb.jpg" class="figure-img img-fluid img-circle" alt="">
              <figcaption class="figure-caption text-center">Intelligent and Articulate. Independent Thinker. Brings fresh perspectives</figcaption>
            </figure>
          </div>
          <div class="col-lg-3 centerFigure">
            <figure class="figure">
              <img src="../assets/bulb.jpg" class="figure-img img-fluid img-circle" alt="">
              <figcaption class="figure-caption text-center">Intelligent and Articulate. Independent Thinker. Brings fresh perspectives</figcaption>
            </figure>
          </div>
        </div>
      </div>
  </section> -->
  <section>
    <div class="container paragraphs">
      <h4>Key Responsibilities</h4>
      <ul class="list-unstyled">
        <li>Responsible for overall Channel Setup Like Master Distributor, Distributor, Retailers, Franchisee Appointment and coordination with Team.</li>
        <li>Channel growth and maintain to all channel.</li>
        <li>Create new retailers and manage relationship with key retail outlet.</li>
        <li>Responsible for achieving primary & secondary sales target</li>
      </ul>
      <br>
      <h4>Selection Process</h4>
      <ul class="list-unstyled">
        <li>Send your resume, work portfolio and a brief summary of your interest in working with us to info@goldenoak.in Shortlisted profiles hear from us within one week.</li>
      </ul>
    </div>
  </section>
  </div>
  <section class="contact">
      <div class="parallax-last"></div>
      <div class="clientCarousel">
          <div class="row" style="width: 100%">
            <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item" *ngFor="let item of newsData">
                            <div class="pad15">
                                <!-- <p class="lead">{{ item.title }}</p> -->
                                <a [href]="item.title" target="_blank">
                                <img width="120px" [src]="item.src" alt="" srcset="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn leftLst"><</button>
                    <button class="btn rightLst">></button>
                </div>
          </div>
        </div>
      <div class="center">
          <span style="color: whitesmoke; font-weight: 700">
            SIGN UP BELOW TO GET NEWS & DEALS
          </span><br>
          <span style="color: whitesmoke">
              Subscribe to our Mailing List.
          </span>
          <form #form action="https://goldenoak.us3.list-manage.com/subscribe/post?u=f7620a7c0cc396dc9cdb69779&amp;id=d0ab397ff3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="single">
              <div class="input-group">
                     <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                     <span class="input-group-btn">
                     <input type="hidden" name="b_f7620a7c0cc396dc9cdb69779_d0ab397ff3" tabindex="-1" value="">
                     <button (click)="form.submit()" type="submit" class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                     </span>
                      </div>
                  </div>
                </form>
      </div>
  </section>
</div>
<footer>
    <div class="media">
    <a href="https://www.facebook.com/PanAromas/" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/panaromascandle" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
      <a href="https://www.instagram.com/panaromas_/?hl=en" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
      </span>
      </a>
  </div>
  <div class="text">
      All Rights Reserved 2019 | Golden Oak Implex LLP
  </div>
</footer>