<div class="container-fluid" style="padding: 0px !important; ">
  <app-nav></app-nav>
  <div class="container" style="margin-bottom: 200px">
    <section class="affiliateSection">
      <div class="head">
        <h5>About Golden Oak</h5>
      </div>
      <div class="details">
        <div class="AffiliateDetails">
            <p class="affiliateInfo">
                GOLDEN OAK IMPEX LLP, a limited liability partnership company 
                headquartered in the streaming metropolis city of Mumbai was 
                incorporated in the year 2014 to market and distribute Pan Aromas
                 Candles & Fragrance Products in India.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="AffiliateDetails">
                  <h6 class="afiliateHead">
                      About Golden Oak
                  </h6>
                <p class="affiliateInfo">
                    PAN AROMAS, a division of Jell Pharmaceuticals Pvt. Ltd. was 
                    initiated as a 100% export oriented unit for manufacturing candles, 
                    reed diffusers, fragrance oil, incense sticks and a number of 
                    other fragrance products. Being in the industry for over 2 decades 
                    and having the best manpower to nurture new and emerging trends in 
                    developing these products, this company is now seeking a place in 
                    the domestic market. Pan Aromas has over the years used the best 
                    quality essential oils and invigorating fragrances in all their products.
                </p>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-6">
                <div class="AffiliateDetails">
                    <h6 class="afiliateHead">
                        Our Mission
                    </h6>
                  <p class="affiliateInfo">
                      To effectively create pan India, a strong distribution network 
                      by partnering with reputed distributors, modern stores, 
                      retailers and corporate customers in Lifestyle, Home-Décor 
                      and Corporate Gifting industries to promote Pan Aromas products, 
                      thereby offering comprehensive yet value oriented products to the 
                      Indian market with an aim to see Pan Aromas as one of the leading 
                      brand in domestic market.
                  </p>
                </div>
            </div>
        </div>
        <div class="fullWidthDetails">
            <div class="AffiliateDetails">
                <p class="affiliateInfo">
                    “We look forward to seek support and suggestions from our customers in the
                    Lifestyle and Home-Décor segment to make our mission successful.”
                </p>
              </div>
            </div>
    </section>
  </div>
  <section class="contact">
      <div class="parallax-last"></div>
      <div class="clientCarousel">
          <div class="row" style="width: 100%">
            <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item" *ngFor="let item of newsData">
                            <div class="pad15">
                                <!-- <p class="lead">{{ item.title }}</p> -->
                                <a [href]="item.title" target="_blank">
                                <img width="120px" [src]="item.src" alt="" srcset="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn leftLst"><</button>
                    <button class="btn rightLst">></button>
                </div>
          </div>
        </div>
      <div class="center">
          <span style="color: whitesmoke; font-weight: 700">
            SIGN UP BELOW TO GET NEWS & DEALS
          </span><br>
          <span style="color: whitesmoke">
              Subscribe to our Mailing List.
          </span>
          <form #form action="https://goldenoak.us3.list-manage.com/subscribe/post?u=f7620a7c0cc396dc9cdb69779&amp;id=d0ab397ff3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="single">
              <div class="input-group">
                     <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                     <span class="input-group-btn">
                     <input type="hidden" name="b_f7620a7c0cc396dc9cdb69779_d0ab397ff3" tabindex="-1" value="">
                     <button (click)="form.submit()" type="submit" class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                     </span>
                      </div>
                  </div>
                </form>
      </div>
  </section>
</div>
<footer>
    <div class="media">
    <a href="https://www.facebook.com/PanAromas/" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/panaromascandle" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
      <a href="https://www.instagram.com/panaromas_/?hl=en" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
      </span>
      </a>
  </div>
  <div class="text">
      All Rights Reserved 2019 | Golden Oak Implex LLP
  </div>
</footer>