<div class="container-fluid" style="padding: 0px !important; ">
  <app-nav></app-nav>
  <!-- Carousel -->
  <div id="my-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#my-carousel" data-slide-to="0"
        aria-current="location"></li>
      <li data-target="#my-carousel" data-slide-to="1"></li>
      <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/bg1.jpg" alt="">
        <div class="carousel-caption d-md-block">
          <div class="carousell-title">
            <h4>Let Your Home Be Welcoming</h4><h5> with Smell of aromatic
              fragrances</h5>
          </div>
          <p class="carousell-subtitle">By Pan Aromas</p>
          <button routerLink="/products" class="btn btn-dark customBtn" type="button">View All Products</button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/bg-2.jpg" alt="">
        <div class="carousel-caption d-md-block">
          <div class="carousell-title">
            <h4>Let Your Home Be Welcoming</h4><h5> with Smell of aromatic
              fragrances</h5>
          </div>
          <p class="carousell-subtitle">By Pan Aromas</p>
          <button routerLink="/about" class="btn btn-dark customBtn" type="button">About Us</button>
        </div>
      </div>
      <div class="carousel-item">
          <img class="d-block w-100" src="../assets/bg3.jpg" alt="">
          <div class="carousel-caption right d-md-block">
            <div class="carousell-title">
              <h4>Let Your Home Be Welcoming</h4><h5> with Smell of aromatic
                fragrances</h5>
            </div>
            <p class="carousell-subtitle">By Pan Aromas</p>
            <button routerLink="/contact" class="btn btn-dark customBtn" type="button">Contact Us</button>
          </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#my-carousel" data-slide="prev"
      role="button">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#my-carousel" data-slide="next"
      role="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="shortBio" style="font-family: bodoni;">
    <h2>"Let your home be welcoming <br> with the smell of aromatic fragrances."</h2>
  </div>
  <div class="container">
    <div class="productTypes">
      <figure class="figure" [routerLink]="['/products']" [queryParams]="{ category : '2DBEBD6F-B18B-492D-BDBD-1D61F5901BB9' }">
        <img src="../assets/cat-1.jpg" class="figure-img img-fluid cat" alt="">
        <figcaption class="figure-caption cat text-center">Candles</figcaption>
      </figure>
      <figure class="figure" [routerLink]="['/products']" [queryParams]="{ category : 'FE227D28-DB65-4F4C-B59D-AF5B02172F23' }">
        <img src="../assets/cat-2.jpg" class="figure-img img-fluid cat" alt="">
        <figcaption class="figure-caption cat text-center">Fragrances</figcaption>
      </figure>
      <figure class="figure" [routerLink]="['/products']" [queryParams]="{ category : '0C75B36E-8B8B-4D75-91CF-2035FFC2799B' }">
        <img src="../assets/cat-3.jpg" class="figure-img img-fluid cat" alt="">
        <figcaption class="figure-caption cat text-center">Gift Sets</figcaption>
      </figure>
    </div>
  </div>
  <hr class="divider">
  <div class="featuredProducts">
    <h4>Featured Products</h4>
    <hr class="divider-small">
    <div class="products">
      <a ></a>
      <figure class="figure">
        <img src="../assets/product-4.png" class="figure-img img-fluid" alt="">
        <figcaption class="figure-caption text-center"><span
            class="productTitle">Shrink Sleeve Glass Candle</span><br>French Vanilla</figcaption>
      </figure>
      <figure class="figure">
        <img src="../assets/product-1.png" class="figure-img img-fluid" alt="">
        <figcaption class="figure-caption text-center"><span
            class="productTitle">15-Pack Scented
            Tealight Candle</span><br>Fresh Lavender
          </figcaption>
      </figure>
      <figure class="figure">
        <img src="../assets/product-3.png" class="figure-img img-fluid" alt="">
        <figcaption class="figure-caption text-center"><span
            class="productTitle">Burner Fragrance
            Oil Tealight </span><br>Gift Set - Apple & Cinnamon</figcaption>
      </figure>
    </div>
    <br>
    <button class="btn btn-dark customBtn" routerLink="/products" type="button">View All Products</button>
  </div>
  
  <section class="partner">
      <div class="parallax">
          <div class="center">
              <span style="border-bottom: 2px solid whitesmoke; color: whitesmoke; font-weight: 700">Partner with us</span>
              <br>
              <span class="parterDesc">
                  We invite distributors, sub-distributors, dealers from all over the 
                  country interested to be associated with us as a sales/channel 
                  partner for making Pan Aromas a leading brand in the industry. 
                  We also invite qualified marketing professionals to embark on a 
                  successful career with us.
                  We look forward to seek support and suggestions from our customers in the
                  Lifestyle and Home-Décor segment to make our mission successful.
                  Please do contact us at: info@goldenoak.in
              </span>
              <br>
              <button class="btn btn-dark customBtn" routerLink="/partner" type="button">Connect</button>
          </div>
      </div>
 </section>
  <section class="aboutUs">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-3 align-right">
            <div class="row aboutTitle" style="text-align: center"><h5>Get to know us</h5></div>
          </div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-md-8">
            <span>
                GOLDEN OAK IMPEX LLP, a limited liability partnership company headquartered in
                 the streaming metropolis city of Mumbai was incorporated in the year 2014 to
                  market and distribute Pan Aromas Candles & Fragrance Products in India.
                  <br>
                PAN AROMAS, a division of Jell Pharmaceuticals Pvt. Ltd. was initiated as
                 a 100% export oriented unit for manufacturing candles, reed diffusers, 
                 fragrance oil, incense sticks and a number of other fragrance products. 
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <img src="../assets/get2know.jpg" height="250px" alt="">
      </div>
    </div>
  </section>
  
  <!-- <section class="partner">
      <img class="bg" src="../assets/carousel.jpg">
      <div class="center">
          <span style="border-bottom: 2px solid black; color: black; font-weight: 700">Partner with us</span>
          <br>
          <span class="parterDesc">
              A Short Description about us has to be written.
              A Short Description about us has to be written.
              A Short Description about us has to be written.
              A Short Description about us has to be written.
          </span>
          <br>
          <button class="btn btn-dark customBtn" type="button">Connect</button>
      </div>
  </section> -->
  <!-- <section class="news">
      <h4>Latest News</h4>
      <hr class="divider-small">
      <div class="newsCarousel">
          <div class="row" style="width: 100%">
            <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item" *ngFor="let item of newsData">
                            <div class="pad15">
                                <img height="200px" width="170px" src="../assets/cat-3.jpg" alt="">
                                <p class="lead title">BLOG TITLE</p>
                                <div class="blogDate">
                                  DD/MM/YYYY
                                </div>
                                <button class="btn btn-light customBtn" type="button">Read More</button>
                            </div>
                        </div>
                    </div>
                    <button class="btn leftLst"><</button>
                    <button class="btn rightLst">></button>
                </div>
          </div>
        </div>
  </section> -->
  <section class="contact">
      <div class="parallax-last"></div>
      <div class="clientCarousel">
          <div class="row" style="width: 100%">
            <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item" *ngFor="let item of newsData">
                            <div class="pad15">
                                <!-- <p class="lead">{{ item.title }}</p> -->
                                <a [href]="item.title" target="_blank">
                                <img width="120px" [src]="item.src" alt="" srcset="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn leftLst"><</button>
                    <button class="btn rightLst">></button>
                </div>
          </div>
        </div>
      <div class="center">
          <span style="color: whitesmoke; font-weight: 700">
            SIGN UP BELOW TO GET NEWS & DEALS
          </span><br>
          <span style="color: whitesmoke">
              Subscribe to our Mailing List.
          </span>
          <form #form action="https://goldenoak.us3.list-manage.com/subscribe/post?u=f7620a7c0cc396dc9cdb69779&amp;id=d0ab397ff3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="single">
            <div class="input-group">
                   <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                   <span class="input-group-btn">
                   <input type="hidden" name="b_f7620a7c0cc396dc9cdb69779_d0ab397ff3" tabindex="-1" value="">
                   <button (click)="form.submit()" type="submit" class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                   </span>
                    </div>
                </div>
              </form>
      </div>
  </section>
  <!-- <section class="contact">
      <img class="bg" src="../assets/carousel.jpg">
      <div class="clientCarousel">
          <div class="row" style="width: 100%">
            <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item" *ngFor="let item of newsData">
                            <div class="pad15">
                                <p class="lead">{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn leftLst"><</button>
                    <button class="btn rightLst">></button>
                </div>
          </div>
        </div>
      <div class="center">
          <span style="color: black; font-weight: 700">
            SIGN UP BELOW TO GET NEWS & DEALS
          </span><br>
          <span class="parterDesc grey">
              Subscribe to our Mailing List.
          </span>
          <div class="single">
            <div class="input-group">
                   <input type="email" class="form-control" placeholder="Enter your email">
                   <span class="input-group-btn">
                   <button class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                   </span>
                    </div>
            </div>
      </div>
  </section> -->
</div>
<footer>
  <div class="media">
    <a href="https://www.facebook.com/PanAromas/" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/panaromascandle" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
      <a href="https://www.instagram.com/panaromas_/?hl=en" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
      </span>
      </a>
  </div>
  <div class="text">
      All Rights Reserved 2019 | Golden Oak Implex LLP
  </div>
</footer>