#my-carousel .d-block {
    height: 45vw !important;
}

@media screen and (max-width: 768px) {
    #my-carousel .d-block {
        height: 65vw !important;
    }
}

@media screen and (max-width: 550px) {
    .carousel-caption {
        display: none !important;
    }
}

.carousel-caption {
    color: black;
    bottom: 20% !important;
    left: auto !important;
    text-align: right;
}

.carousel-caption.right {
    color: black;
    bottom: 20% !important;
    right: auto !important;
    padding-left:10vw;
    text-align: left;
    margin-top: auto;
}

html {
    overflow-x: hidden !important; 
}

#my-carousel ol {
    margin-bottom: 5px !important;
}



.parallax {
    /* The image used */
    background-image: url("../../../assets/bg-scroll.jpg");
  
    /* Set a specific height */
    min-height: 380px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-last {
    /* The image used */
    background-image: url("../../../assets/bg-scroll.jpg");
  
    /* Set a specific height */
    min-height: 394px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media screen and (max-width:500px) {
    footer {
        height: 80px !important;
        float: left;
    }
}

#my-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.shortBio {
    text-align: center;
    padding: 10% !important;
}

.type-caption {
    text-align: center !important
}

.carousell-subtitle {
    /* margin-bottom: 70px;  */
    font-family: 'Allura', cursive;
    font-size: 40px; 
}

.figure-caption.cat {
    font-weight: bold;
}
.figure-img {
    height: 300px !important;
    width: 250px !important;
}

.figure-img.cat {
    height: 350px !important;
    width: 300px !important;
}

.productTypes {
    text-align: center;
    margin: auto;
}

.featuredProducts {
    margin-top: 50px !important;
    text-align: center;
    margin: auto;
    margin-bottom: 50px !important;
}

.productTitle {
    font-weight: 500 !important;
    color: black !important;
    font-size: 15px!important;
}

.customBtn {
    border-radius: 20px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.products {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,1) !important;
    width:80% ;
}

.divider-small {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,1) !important;
    width:25vw ;
}
.aboutUs .divider-small {
    width: 10vw !important;
    margin-left: 0px;
    border-top: 2px solid rgba(0,0,0,1) !important;
}

.aboutTitle {
    border-bottom: 2px solid black !important;
}


.aboutUs {
    margin-left: 15% !important;
    margin-right: 10% !important;
    margin-top: 5% !important;
}

.figure {
    margin-left: 10px;
}

.partner {
    color: whitesmoke !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.partner .bg {
    width: 100% !important;
    height: 60vh !important;
    position: relative;
    z-index: -1 !important;
}

.contact {
    margin-top: 100px !important;
    height: 394px !important;
}

.contact .bg {
    width: 100% !important;
    height: 394px !important;
    position: relative;
    z-index: -1 !important;
}

.clientCarousel {
    position: relative;
    font-size: 18px;
    top: -450px;
    margin: auto;
    text-align: center;
}

.newsCarousel {
    margin: auto;
    text-align: center;
}

.center {
    position: relative;
    font-size: 18px;
    padding-top: 50px;
    text-align: center;
  }

  .contact .center {
    margin: 10px !important;
    top: -435px;
  }

  .parterDesc {
    display: block;
    width: 50%;
    margin: auto;
  }


  @media screen and (max-width: 700px) {
    .parterDesc {
        width: 100% !important;
      }
  }

  .news {
      text-align: center;
  }

  .blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.blogTitle {
    font-size: 20px;
    font-weight: 600;
}

.blogDate {
    font-size: 12px;
    color: #a3a3a3;
}

.btn-light.customBtn {
    border: 1px solid black;
    font-size: 10px;
    font-weight: 500
}

.nav-link {
    color: black !important;
    font-size: 12px
}

.nav-link.active {
    text-decoration: underline;
}

.owl-carousel {
    width: 600px !important;
}

#blogCarousel .carousel-control-prev-icon,
#blogCarousel .carousel-control-next-icon {
  background-image: none;
}

#blogCarousel .carousel-control-next-icon:after
{
    content: '>';
    font-size: 45px;
    position: absolute;
    right: 0px;
    color: grey;
}

#blogCarousel .carousel-control-prev-icon:after {
    content: '<';
    font-size: 45px;
    position: absolute;
    left: 0px;
    color: grey;
}

footer {
    width: 100%;
    padding-left: 10px; 
    padding-right: 10px;
    height: 60px;
    text-align: center;
}
footer .text {
    position: relative;
    top: 20px;
    font-size: 15px;
    color: #a3a3a3;
    float: right;
}

footer .media {
    position: relative;
    top: 20px;
    float: left;
}
.partnerDesc.grey  {
    color: rgb(202, 199, 199) !important;
}
    
    .single {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 50px !important; 
    text-align: center;
    position: relative;
    z-index: 2; }
    .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
    }

    .contact .MultiCarousel { 
        -webkit-box-shadow: 10px -9px 47px -20px rgba(0,0,0,0.42);
        -moz-box-shadow: 10px -9px 47px -20px rgba(0,0,0,0.42);
        box-shadow: 10px -9px 47px -20px rgba(0,0,0,0.42);
        float: left; 
        background-color: white; 
        overflow: hidden; 
        padding: 15px; 
        width: 60%; 
        margin: auto; 
        position:relative; 
    }
    .contact .MultiCarousel{ Height: 120px;}
    .contact .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .contact .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .contact .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; font-weight: 700; color:black;}
    .contact .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); background-color: white }
    .contact .MultiCarousel .leftLst { left:0; }
    .contact .MultiCarousel .rightLst { right:0; }
        
    .contact .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
    
    
    .news .MultiCarousel { 
        float: left; 
        overflow: hidden; 
        padding: 15px; 
        width: 60%; 
        margin: auto; 
        position:relative; 
    }
    .news .MultiCarousel{ Height: 350px; margin-bottom: 50px !important}
    .news .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .news .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .news .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; font-weight: 700; color:black;}
    .news .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); background-color: white }
    .news .MultiCarousel .leftLst { left:0; }
    .news .MultiCarousel .rightLst { right:0; }
    .news .lead.title {
        font-size: 20px;
        font-weight: bold !important;
        margin-bottom: 0px !important;
    }
        
    .news .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; }