<div class="container-fluid" style="padding: 0px !important; ">
    <app-nav></app-nav>
    <div class="container">
      <section class="affiliateSection">
        <div class="head">
          <h5>Become an Affiliate</h5>
        </div>
        <div class="details">
          <div class="AffiliateDetails">
              <h6 class="afiliateHead">
                  Why Become Golden Oak Affiliate ?
              </h6>
              <p class="affiliateInfo">
                  Our Affiliate Program offers exciting business opportunities to sellers who are good at establishing brand online and get crowds to bring in online sales to our online portals. We are a growing brand and we are yet to serve a big margin of customers.
                  Through our affiliate program, you as sellers earn every time you help us make a sale or discover new customer. 
              </p>
            </div>
            <div class="AffiliateDetails">
                <h6 class="afiliateHead">
                    Procedure to Apply
                </h6>
              <p class="affiliateInfo">
                  It is very easy to apply. Just mail at info@goldenoak.in with you interests, address proof, your audience if you have and photo ID card. We usually respond within a week.
              </p>
            </div>
            <!-- <div class="AffiliateDetails">
                <h6 class="afiliateHead">
                    Commission Table
                </h6>
              <table border="1">
                <tr>
                  <th>Category</th>
                  <th>Monthly Sales</th>
                  <th>Commission</th>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
              </table>
            </div> -->
          </div>
      </section>
    </div>
    <section class="contact">
        <div class="parallax-last"></div>
        <div class="clientCarousel">
            <div class="row" style="width: 100%">
              <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                      <div class="MultiCarousel-inner">
                          <div class="item" *ngFor="let item of newsData">
                              <div class="pad15">
                                  <!-- <p class="lead">{{ item.title }}</p> -->
                                  <a [href]="item.title" target="_blank">
                                <img width="120px" [src]="item.src" alt="" srcset="">
                                </a>
                              </div>
                          </div>
                      </div>
                      <button class="btn leftLst"><</button>
                      <button class="btn rightLst">></button>
                  </div>
            </div>
          </div>
        <div class="center">
            <span style="color: whitesmoke; font-weight: 700">
              SIGN UP BELOW TO GET NEWS & DEALS
            </span><br>
            <span style="color: whitesmoke">
                Subscribe to our Mailing List.
            </span>
            <form #form action="https://goldenoak.us3.list-manage.com/subscribe/post?u=f7620a7c0cc396dc9cdb69779&amp;id=d0ab397ff3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="single">
                <div class="input-group">
                       <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter your email">
                       <span class="input-group-btn">
                       <input type="hidden" name="b_f7620a7c0cc396dc9cdb69779_d0ab397ff3" tabindex="-1" value="">
                       <button (click)="form.submit()" type="submit" class="btn btn-theme" style="width: 140px" type="submit">Subscribe</button>
                       </span>
                        </div>
                    </div>
                  </form>
        </div>
    </section>
  </div>
  <footer>
    <div class="media">
    <a href="https://www.facebook.com/PanAromas/" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/panaromascandle" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
      <a href="https://www.instagram.com/panaromas_/?hl=en" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x"></i>
      </span>
      </a>
  </div>
    <div class="text">
        All Rights Reserved 2019 | Golden Oak Implex LLP
    </div>
  </footer>