<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand"><img src="../../../assets/logo.png" height="50px" width="75px" alt=""></a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse"
    aria-controls="my-nav" aria-expanded="false" aria-label="Toggle
    navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About
          Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/career" routerLinkActive="active">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/partner" routerLinkActive="active">Partner
          with us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/affiliate" routerLinkActive="active">Affiliate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>