/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng2-toasty/style-material.css";
@import "~ng2-toasty/style-default.css";
@import "~ng2-toasty/style-bootstrap.css";
@font-face {
    font-family: bodoni;
    src: url("assets/BodoniRegular.ttf");
  }
.mat-paginator-page-size {
    display: none !important;
}

.mat-paginator-navigation-previous.mat-icon-button {
    position: absolute;
    left: 100px;
}

.mat-paginator-range-actions {
    margin: auto !important;
}

.mat-paginator-navigation-next.mat-icon-button {
    position: absolute !important;
    right: 100px ;
}


@media screen and (max-width: 768px) { 
    .mat-paginator-navigation-next.mat-icon-button {
        position: absolute !important;
        right: 20px !important;
    }
    .mat-paginator-navigation-previous.mat-icon-button {
        position: absolute;
        left: 20px !important;
    }
}


agm-map {
    height: 300px;
   }