<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="responsive" src="{{ ImageUrl }}/{{ fragranceImage }}" alt="">
            <div class="socialMedia desktopView">
                Share On Social Media
                <div class="row">
                    <div class="col-lg-4">
                        
                            <button class="btn btn-light mediaBtn" type="button">Facebook</button>
                        
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-light mediaBtn" type="button">Twitter</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-light mediaBtn" type="button">Instagram</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="title">{{ product.productName }}</div>
            <div class="sub-title">Pkg {{ product.package }} piece in master carton</div>
            <div class="extra-description">
                {{ product.specification1 }}<br>
                {{ product.specification2 }} <br>
                {{ product.specification3 }}
            </div>
            <div class="fragrance-list">
                <h6>Select Fragrance :</h6>
                <ul style="margin: 0; padding: 0" *ngFor="let item of fragrances; let i = index">
                    <li (click)="selectImage(i)" style="cursor: pointer" [ngClass]="
                    {'highlight': selectedIndex === i}" id="{{i}}">
                        {{ item.fragranceName }} 
                    </li>
                </ul>
            </div>
            
            <div class="socialMedia phoneView">
                Share On Social Media
                <div class="row">
                    <div class="col-lg-4">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A4200%2Fproducts%3Fid%3DBC7A61B1-708D-486E-9EE1-00DA7642D45F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                            <button class="btn btn-light mediaBtn" type="button">Facebook</button>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-light mediaBtn" type="button">Twitter</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-light mediaBtn" type="button">Instagram</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="productDescription">
        <h6>Product Description</h6>
        <hr>
        {{ product.fullDescription }}
    </section>
    <section class="productCase">
        <h6>Product Use Case</h6>
        <hr>
        {{ product.useCase }}
    </section>
</div>
