
.title {
  margin-top: 15px; 
  font-size: 18px;
  font-weight: 600;
}

hr {
  background-color: black;
  border-color: black;
  color: black;
}

.sub-title {
  font-size: 17px;
  font-weight: 500;
}

.productCode {
  font-weight: 600 !important;
  font-size: 18px;
  margin-top: 10px;
}

.extra-description {
  margin-top: 20px;
}

.fragrance-list {
  list-style: square inside url("../../../assets/list.png");
  padding: 0px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}

.socialMedia {
  margin-top: 15px;
  text-align: center;
}

.mediaBtn {
  width: 100% !important;
  background-color: #d5d5d5  !important;
  border-radius: 20px !important;
}

@media screen and (min-width:768px) {
  .phoneView {
    display: none;
  }
  .desktopView {
    display: block;
  }
}

@media screen and (max-width:768px) {
  .desktopView {
    display: none;
  }
  .phoneView {
    display: block;
  }
}

.productDescription {
  margin-top: 50px !important;
  font-size: 14px
}

.productCase {
  margin-top: 80px !important;
  font-size: 14px
}

.highlight{ 
  text-decoration: underline; 
}
